body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  background-color: rgb(31, 31, 31);
}
.total {
  padding: 10;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.total2 {
  position: relative;
  padding: 10;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  z-index: 20;
}
.total .div2 {
  width: 33%;
  padding: 20px;
  background-color: black;
  color: grey;
  border-radius: 13px;
  border: 2px solid grey;
}
.summa {
  margin: 2px 0px 10px 0px;
  font-weight: bold;
  font-size: 25px;
  color: white;
}
.textOne {
  color: white;
  margin: 0px;
}
.textTwo {
  margin: 4px 0px;
}
.divTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.percentDiv {
  padding: 5px;
  font-size: 12px;
  color: white;
  border-radius: 18px;
  border: 1px solid grey;
}
.div3 {
  width: 33%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: grey;
  border-radius: 13px;
  border: 2px solid grey;
  margin-top: -30px;
  padding: 30px 15px 20px 15px;
}
img {
  width: 33%;
  border-radius: 13px;
  border: 2px solid grey;
}
strong {
  color: white;
}
.loginDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formLogin {
  border-radius: 13px;
  border: 2px solid grey;
  padding: 20px;
  background-color: black;
  color: white;
  text-align: center;
}
.inputDiv {
  display: flex;
  flex-direction: column;
}
.inputTag {
  border-radius: 13px;
  background-color: rgb(41, 41, 41);
  border: 2px solid grey;
  color: white;
  padding: 8px;
  margin: 5px 0px;
}
.inputTagBtnLogin {
  border-radius: 13px;
  background-color: white;
  border: 2px solid grey;
  color: black;
  padding: 8px;
  margin: 5px 0px;
}
.inputTagBtnLogin:hover {
  background-color: rgb(219, 219, 219);
}
.inputTagBtnGoogle {
  border-radius: 13px;
  background-color: black;
  border: 2px solid grey;
  color: white;
  padding: 8px;
  margin: 5px 0px;
}
.inputTagBtnGoogle:hover {
  background-color: rgb(41, 41, 41);
}
.formLogin p {
  color: grey;
}
.formLogin label {
  text-align: left;
}
